DATABASE_URL=postgresql://localhost/postgres # placeholder url
SECRET_KEY=your_secret_key_here
DEBUG=True
SUPABASE_JWT_SECRET=your_jwt_secret_here
PERENUAL_API_KEY=your_perenual_api_key_here
WEATHER_API_KEY=your_weather_api_key_here